@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #f3f3f3;
}

section, footer, header {
    padding: 10px 100px;
    /* max-width: 1240px;
    margin: auto; */
}

header {
    width: 100%;
    background: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .logo, header .logo img {
    width: 90px;
    margin-right: auto;
}

a {
    font-weight: 400;
    text-decoration: none;
    color: #030303;
}

.navbar {
    margin-left: 20px;
}

.navbar a {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar a:hover, .footerLinks a:hover {
    font-weight: 700;
}

button {
    padding: 10px 25px;
    background-color: rgb(109, 87, 255);
    border: 2px transparent solid;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.inverse {
    background-color: transparent;
    border-color: white;
}

.inverse:hover {
    background-color: white;
    color: rgb(109, 87, 255);
}

.menuButton {
    margin-left: 20px;
}

button:hover {
    background-color: rgb(68, 46, 210);
}

section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 60px;
}

.hero h1 {
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 700;
    max-width: 1000px;
}

.hero p {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 50px;
    max-width: 1000px;
}

.about {
    display: flex;
    background-color: #ffffff;
}

.about img {
    object-fit: cover;
    height: 400px;
    width: 400px;
    border-radius: 10%;
}

.info {
    padding: 20px;
    margin-left: 50px;
}

.info h1 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

.info h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 10px;

}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials h1 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.profil {
    margin: 10px;
    padding: 20px;
    background-color: lightskyblue;
    border-radius: 10%;
}

.profil h2, .profil h3 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

.profil h2 {
    margin-bottom: 10px;
}

.profil h3 {
    margin-top: 20px;
}

.application {
    text-align: center;
    background-color: rgb(109, 87, 255);
    color: #ffffff;
    padding-top: 80px;
    padding-bottom: 60px;
}

.application h1 {
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 20px;
}

.application p {
    margin-bottom: 50px;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.footerLinks a {
    font-size: 16px;
    margin-bottom: 10px;
}

.contact {
    margin-left: 10px;
    margin-right: 10px;
}

.contact h1 {
    font-size: 22px;
    text-transform: uppercase;
}

.contact h2 {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 5px;
}

footer .logo img {
    max-width: 200px;
}